{% load staticfiles %}
<section class="body_content_item">
<img src="{% static "pic-name-110x110-5.png" %}" alt="..." class="img-circle" width="80" style="float:left;">
<article class="body_content_article" >
<h4 style="margin-bottom:5px;"><strong>周星驰的电影里为什么总是出现大量无意义的对白</strong>
<button type="button" class="btn btn-default btn-sm" style="float:right;">
<span class="glyphicon glyphicon-eye-open"></span> 21 </button>
</h4>
<span style="font-size:14px; ">
<p class="body_content_p">作为一个想看遍全世界的海的人，来回答一下。图片都是去的地方的亲自实拍。这是悉尼的Bondi Junction。暂时还没空去大堡礁，据说更美。这是泰国的布吉岛。去这里花费不算太大，景色也不错。</p>
<font style="color:#999;"> 12 分钟前 ｜ <a href="#">523</a> 人参与 ｜ <a href="#">2392</a> 人浏览 </font> <br>
</span> </article>
</section>
