{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
{% include 'global_base.html' %}
</head>
<body>
<header> 
{% include "global_nav.html" %}
</header>
<div class="container" style="padding-top:50px;">
  <div class="row"style="padding-top:20px;">
    <div class="col-md-9">
      <h4><strong>领域推荐</strong><a href="#"><span class="body_more" >更多>></span></a></h4>
      <div class="body_domain_box">
        {% for domain in domain_list %}
        {% include 'domain_zone.html'%}
        {% endfor %}
      </div>
      <div style="margin-top:20px;">
        <h4 ><strong>精彩内容</strong></h4>
        <div class="clear"></div>
        {% for question in question_list %}
        {% include 'domain_recommend.html' %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3">
      <h4><strong>领域活跃者</strong></h4>
      {% for people in people_list %}
      {% include 'domain_users.html' %}
      {% endfor %}
    </div>
  </div>
</div>
<footer>
  <div class="container"> © 2014 Present Inc. </div>
  <div class="clear"></div>
</footer>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "bootstrap.min.js" %}"></script>
</body>
</html>
