{% load staticfiles %}
<section class="body_domain_item">
 <img src="{% static "pic-name-110x110-5.png" %}" alt="..." class="img-thumbnail" width="110">
 <article style="float:right;">
 <h4 style="margin-bottom:5px;">某领域</h4>
 <span class="font_style_14"><font style="color:#666;"><a href="#">283</a> 人关注</font>
 <br>
 <font style="color:#999;"><a href="＃">21</a> 个话题</font><br>
 <button type="button" class="btn btn-default btn-sm" style="margin-top:5px;">
 <span class="glyphicon glyphicon-eye-open"></span> 关注</button>
 </span>
 </article>
</section>
