{% load staticfiles %}
<span class="reco2_box_re"> <img src="images/pic.jpg" alt="..." class="img-thumbnail" width="110" class="reco_user_icon">
<article class="reco2_box_p" >
<h4 style=" "><strong>电影领域</strong></span></h4>
<span class="font_style_14"><font style="color:#666;" ><a href="＃" >283</a> 人关注</font><br>
<font style="color:#999;"><a href="＃">21</a> 个话题 </font><br>
<button type="button" class="btn btn-default btn-sm" style="margin-top:5px;">
<span class="glyphicon glyphicon-eye-open"></span> 关注 </button>
</article>
</span>
